<a href="https://colab.research.google.com/github/Bavvi30/2025-26-4084-T.Bhavani-AI-B-DS/blob/main/3feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Download and save the dataset in the local drive
import pandas as pd
#url of dataset(sample csv dataset)
url="https://raw.githubusercontent.com/mwaskom/seaborn-data/refs/heads/master/iris.csv"
#read dataset from url
df=pd.read_csv(url)
#display first few rows
print(df.head())
#save dataset to local drive
df.to_csv("iris.csv",index=False)
print("dataset saved successfully")

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
dataset saved successfully

In [2]:
#List
superstore=["metro",'tesco','walmart','kmart','carrefour']
print(superstore)
number_list=[4,4,6,7,2,9,10,15]
mixed_list=['cat',87.23,65,[9,7,3,3]]
print(type(mixed_list))
#list operations
list1=[3,5,7,1]
list2=[2,4,6,8]
print(list1+list2) #list concartination
print(list1*3)
print(list1==list2)
#string to list
quote='Hello World'
string_to_list=list(quote)
print(string_to_list)
# list indexing, slicing
print(list1[:2])
print(list1[-2:])
print(5 in list1)
print(11 in list1)
#list built-in functions
cars=['BMW','Audi','Mercedes','Toyota']
print(len(cars))
print(max(number_list))
print(min(number_list))
print(sum(number_list))
print(sorted(list1))
print(sorted(list1,reverse=True))
#list methods
cars.append('Tesla')
print(cars)
cars.insert(2,'Ford')
print(cars)
cars.remove('Tesla')
print(cars)
cars.pop()
print(cars)
#Nested list
nested_list=[[1,2,3],[4,5,6],[7,8,9]]
print(nested_list)
print(nested_list[1])
print(nested_list[1][2])

['metro', 'tesco', 'walmart', 'kmart', 'carrefour']
<class 'list'>
[3, 5, 7, 1, 2, 4, 6, 8]
[3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7, 1]
False
['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
[3, 5]
[7, 1]
True
False
4
15
2
57
[1, 3, 5, 7]
[7, 5, 3, 1]
['BMW', 'Audi', 'Mercedes', 'Toyota', 'Tesla']
['BMW', 'Audi', 'Ford', 'Mercedes', 'Toyota', 'Tesla']
['BMW', 'Audi', 'Ford', 'Mercedes', 'Toyota']
['BMW', 'Audi', 'Ford', 'Mercedes']
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[4, 5, 6]
6

In [3]:
#Tuples
a=(1,2,3,4,5)
b=(6,7,8,9,10)
print(a+b)
print(a*3)
print(1 in a)
print(11 in a)
print(a[1:4])
print(len(a))
print(max(a))
print(min(a))
print(sum(a))
print(sorted(a))
print(sorted(a,reverse=True))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
True
False
(2, 3, 4)
5
5
1
15
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [4]:
# Creating a set
fruits = {"apple", "banana", "cherry"}
print("Original Set:", fruits)

# Adding elements
fruits.add("orange")
print("\nAfter add():", fruits)

# Adding multiple elements
fruits.update(["mango", "grapes"])
print("\nAfter update():", fruits)

# Removing element using remove()
fruits.remove("banana")
print("\nAfter remove('banana'):", fruits)

# Removing element using discard()
fruits.discard("pineapple")  # No error if element not found
print("\nAfter discard('pineapple'):", fruits)

# Removing random element using pop()
removed_item = fruits.pop()
print("\nAfter pop():", fruits)
print("Removed item:", removed_item)

# Copying a set
fruits_copy = fruits.copy()
print("\nCopied Set:", fruits_copy)

# Length of set
print("\nLength of set:", len(fruits))

# Checking membership
if "apple" in fruits:
    print("\n'apple' is present in the set")

# Creating another set
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("\nSet A:", A)
print("Set B:", B)

# Union
print("\nUnion:", A.union(B))

# Intersection
print("Intersection:", A.intersection(B))

# Difference
print("Difference (A - B):", A.difference(B))

# Symmetric Difference
print("Symmetric Difference:", A.symmetric_difference(B))

# Subset check
print("\nIs A subset of B?", A.issubset(B))

# Superset check
print("Is A superset of B?", A.issuperset(B))

# Clearing set
fruits.clear()
print("\nAfter clear():", fruits)

Original Set: {'cherry', 'apple', 'banana'}

After add(): {'cherry', 'apple', 'orange', 'banana'}

After update(): {'mango', 'apple', 'grapes', 'orange', 'banana', 'cherry'}

After remove('banana'): {'mango', 'apple', 'grapes', 'orange', 'cherry'}

After discard('pineapple'): {'mango', 'apple', 'grapes', 'orange', 'cherry'}

After pop(): {'apple', 'grapes', 'orange', 'cherry'}
Removed item: mango

Copied Set: {'cherry', 'apple', 'grapes', 'orange'}

Length of set: 4

'apple' is present in the set

Set A: {1, 2, 3, 4}
Set B: {3, 4, 5, 6}

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference (A - B): {1, 2}
Symmetric Difference: {1, 2, 5, 6}

Is A subset of B? False
Is A superset of B? False

After clear(): set()

In [5]:
# Creating a dictionary
student = {
    "name": "Alice",
    "age": 22,
    "course": "Computer Science"
}

print("Original Dictionary:", student)

#Accessing values
print("\nAccessing Values:")
print("Name:", student["name"])
print("Age:", student.get("age"))

#Adding new key-value pair
student["grade"] = "A"
print("\nAfter Adding grade:", student)

#Updating value
student["age"] = 23
print("\nAfter Updating age:", student)

#Removing elements

# Using pop()
student.pop("course")
print("\nAfter pop('course'):", student)

# Using popitem()
student.popitem()
print("\nAfter popitem():", student)

# Using del
del student["age"]
print("\nAfter deleting age:", student)

#Dictionary length
print("\nLength of dictionary:", len(student))

#Keys, Values, Items
print("\nKeys:", student.keys())
print("Values:", student.values())
print("Items:", student.items())

#Looping through dictionary
print("\nLooping through dictionary:")
for key, value in student.items():
    print(key, ":", value)

#Checking if key exists
if "name" in student:
    print("\n'name' key exists")

#Copying dictionary
student_copy = student.copy()
print("\nCopied Dictionary:", student_copy)

#Clearing dictionary
student.clear()
print("\nAfter clear():", student)

#Creating dictionary using fromkeys()
keys = ["a", "b", "c"]
new_dict = dict.fromkeys(keys, 0)
print("\nDictionary using fromkeys():", new_dict)

Original Dictionary: {'name': 'Alice', 'age': 22, 'course': 'Computer Science'}

Accessing Values:
Name: Alice
Age: 22

After Adding grade: {'name': 'Alice', 'age': 22, 'course': 'Computer Science', 'grade': 'A'}

After Updating age: {'name': 'Alice', 'age': 23, 'course': 'Computer Science', 'grade': 'A'}

After pop('course'): {'name': 'Alice', 'age': 23, 'grade': 'A'}

After popitem(): {'name': 'Alice', 'age': 23}

After deleting age: {'name': 'Alice'}

Length of dictionary: 1

Keys: dict_keys(['name'])
Values: dict_values(['Alice'])
Items: dict_items([('name', 'Alice')])

Looping through dictionary:
name : Alice

'name' key exists

Copied Dictionary: {'name': 'Alice'}

After clear(): {}

Dictionary using fromkeys(): {'a': 0, 'b': 0, 'c': 0}