<a href="https://colab.research.google.com/github/Bavvi30/2025-26-4084-T.Bhavani-AI-B-DS/blob/main/4feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#selecting data:
import pandas as pd
data = {
    "ID" : [101,102,103,104,105],
    "Name": ["Alice", "bob","Charlie","david", "Eva"],
    "Age" : [22,25,23,24,26],
    "Marks" : [85,78,92,88,90]
}
df = pd.DataFrame (data)
print(df)
print(df["Name"])
print("Location 0", df.iloc[0])
print("Location 1 to 4", df.iloc[1:4])
print("Location 1 to 3", df.iloc[1:3])

    ID     Name  Age  Marks
0  101    Alice   22     85
1  102      bob   25     78
2  103  Charlie   23     92
3  104    david   24     88
4  105      Eva   26     90
0      Alice
1        bob
2    Charlie
3      david
4        Eva
Name: Name, dtype: object
Location 0 ID         101
Name     Alice
Age         22
Marks       85
Name: 0, dtype: object
Location 1 to 4     ID     Name  Age  Marks
1  102      bob   25     78
2  103  Charlie   23     92
3  104    david   24     88
Location 1 to 3     ID     Name  Age  Marks
1  102      bob   25     78
2  103  Charlie   23     92

In [ ]:
#Data filtering
import pandas as pd
data = {
    "ID" : [101,102,103,104,105],
    "Name": ["Alice", "bob","Charlie","david", "Eva"],
    "Age" : [22,25,23,24,26],
    "Marks" : [85,78,92,88,90]
}
df = pd.DataFrame (data)
print(df)
print(df[(df["Name"]=="Alice")|(df["Name"]=="Charlie")])
print(df[df["Marks"]>85])
print(df[df["Age"]<25])

    ID     Name  Age  Marks
0  101    Alice   22     85
1  102      bob   25     78
2  103  Charlie   23     92
3  104    david   24     88
4  105      Eva   26     90
    ID     Name  Age  Marks
0  101    Alice   22     85
2  103  Charlie   23     92
    ID     Name  Age  Marks
2  103  Charlie   23     92
3  104    david   24     88
4  105      Eva   26     90
    ID     Name  Age  Marks
0  101    Alice   22     85
2  103  Charlie   23     92
3  104    david   24     88

In [ ]:
#data manupulation
import pandas as pd
data = {"Name":["A","B","C"],
        "Age":[20,21,22],
        "Marks": [70,80,90]}
df=pd.DataFrame(data)
print("Original data:")
print(df)
print("Adding a new column bonus:")
df["Bonus"] = 5
print(df)
print("\nModifiying a column marks:")
df["Marks"] = df["Marks"] + 2
print(df)
print("\nCreating a new column based on other columns:")
df["Total"] = df["Marks"] + df["Bonus"]
print(df)
print("\nRenaming a column:")
df.rename(columns={"Total":"Final"},inplace = True )
print(df)
print("\nDroping a column:")
df.drop("Bonus",axis=1,inplace=True)
print(df)
print("\nDroping a row:")
df.drop(1,axis=0,inplace=True)
print(df)
print("\nChanging a particular value:")
df.loc[0,"Age"]=21
print(df)

Original data:
  Name  Age  Marks
0    A   20     70
1    B   21     80
2    C   22     90
Adding a new column bonus:
  Name  Age  Marks  Bonus
0    A   20     70      5
1    B   21     80      5
2    C   22     90      5

Modifiying a column marks:
  Name  Age  Marks  Bonus
0    A   20     72      5
1    B   21     82      5
2    C   22     92      5

Creating a new column based on other columns:
  Name  Age  Marks  Bonus  Total
0    A   20     72      5     77
1    B   21     82      5     87
2    C   22     92      5     97

Renaming a column:
  Name  Age  Marks  Bonus  Final
0    A   20     72      5     77
1    B   21     82      5     87
2    C   22     92      5     97

Droping a column:
  Name  Age  Marks  Final
0    A   20     72     77
1    B   21     82     87
2    C   22     92     97

Droping a row:
  Name  Age  Marks  Final
0    A   20     72     77
2    C   22     92     97

Changing a particular value:
  Name  Age  Marks  Final
0    A   21     72     77
2    C   22     92     97

In [ ]:
n=int(input("Enter number of elements:"))
arr=[]
for i in range(n):
    arr.append(int(input(f"Enter element{i+1}:")))
print("\n Original array:",arr)
for i in range(n-1):
  min_index=i
  for j in range(i+1,n):
    if arr[j]<arr[min_index]:
      min_index=j
  arr[i],arr[min_index]=arr[min_index],arr[i]
print("sorted array:",arr)

Enter number of elements:3
Enter element1:12
Enter element2:13
Enter element3:12

 Original array: [12, 13, 12]
sorted array: [12, 12, 13]

In [ ]:
# Bubble Sort
def bubble_sort(arr):
    n = len(arr)
    for i in range(n - 1):
        # Last i elements are already in place
        for j in range(0, n - i - 1):
            # Traverse the array from 0 to n-i-1
            # Swap if the element found is greater than the next element
            if arr[j] > arr[j + 1]:
                arr[j], arr[j + 1] = arr[j + 1], arr[j]
    return arr

# Example usage:
my_list = [64, 34, 25, 12, 22, 11, 90]
print("Original array:", my_list)
sorted_list = bubble_sort(my_list)
print("Sorted array:", sorted_list)

Original array: [64, 34, 25, 12, 22, 11, 90]
Sorted array: [11, 12, 22, 25, 34, 64, 90]

In [ ]:
#linear search
n=int(input("Enter number of elements:"))
arr=[]
for i in range(n):
  arr.append(int(input(f"Enter element{i+1}:")))
key= int(input("Enter the element to be searched:"))
found=False
for i in range(n):
  if arr[i]==key:
    print(f"Element found at position{i+1}")
    found = True
if found == False:
  print("Elementnot found")

Enter number of elements:5
Enter element1:2
Enter element2:3
Enter element3:5
Enter element4:6
Enter element5:5
Enter the element to be searched:2
Element found at position1

In [4]:
#binary search
n=int(input("Enter number of elements:"))
arr=[]
for i in range(n):
  arr.append(int(input(f"Enter element{i+1}:")))
arr.sort()
print("\nSorted list:", arr)
key= int(input("Enter the element to be searched:"))
low = 0
high = n - 1
found = False
while low <= high:
    mid = (low + high) // 2
    if arr[mid] == key:
        print(f"Element found at position {mid + 1}")
        found = True
        break
    elif arr[mid] < key:
          high = mid + 1
    else:
          high = mid - 1
if not found:
      print("Element not found")

Enter number of elements:3
Enter element1:1
Enter element2:2
Enter element3:3

Sorted list: [1, 2, 3]
Enter the element to be searched:2
Element found at position 2